<row>
  <div class="col-md-6">
    <h2><strong><%= @coins %></strong></h2>
    <p>Coins</p>
  </div>
  <div class="col-md-6">
    <h2><strong><%= @money %></h2></strong>
    <p>Cents</p>
  </div>
</row>
