<h1>Edit pickup</h1>

<%= render 'form' %>


<script>

$(document).ready(function() {
  // Date
  if (!isDateControlSupported()) {
    $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  }

  $("#location-searching").hide();
  $("#location-err").hide();
  /*
  if (!hasCoordinates()) {
    var findLocationButton = $('#find-location-button');
    findLocationButton.attr('disabled', 'disabled');
    findLocationButton.attr('title', 'There are no coordinates registered');
  }*/
});
</script>
