<div class="row">
  <div class="col-md-12">
    <h1>Editing pickup</h1>

    <%= render 'form' %>

    <%= link_to 'Back', pickups_path %>
  </div>
</div>

<script>
$(document).ready(function() {
  // Date
  $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  $('#pickup_picked_at_time').timepicker({showMeridian: false});
});
</script>
