<h1>Edit pickup</h1>

<%= render 'form' %>


<script>
function date_supported() {
  var tester = document.createElement('input');
  tester.type = 'date';
  tester.value = ':(';
  return tester.type === 'date' && tester.value === '';
}

$(document).ready(function() {
  // Date
  if(!date_supported()) {
    $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  }
});
</script>
