<h1>New pickup</h1>

<%= render 'form' %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIs7REsewixFwKzkjgytbajoZ6eZDjENA"></script>
<script>
$(document).ready(function() {

  // Adds datepicker if there isn't native control
  if(!date_supported()) {
    $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  }

  // Location 
  $('#search_location_msg').show();
  $('#location_part').hide();
  navigator.geolocation.getCurrentPosition(show_map, handle_error);

  function show_map(position) {
    $("#pickup_latitude").val(position.coords.latitude);
    $("#pickup_longitude").val(position.coords.longitude);

    // Searching textual location
    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          $("#pickup_location").val(results[1].formatted_address);
        }
      }
      $('#search_location_msg').hide();
      $('#location_part').show();
    });
  }

  function handle_error(err) {
    $('#search_location_msg').hide();
    $('#location_part').show();
  }

  function date_supported() {
    var tester = document.createElement('input');
    tester.type = 'date';
    tester.value = ':(';
    return tester.date === 'date' && tester.value === '';
  }
});
</script>
