<div class="row">
  <div class="col-md-12">
    <h1>New pickup</h1>

    <%= render 'form' %>

    <%= link_to 'Back', pickups_path %>
  </div>
</div>

<script>
$(document).ready(function() {

  navigator.geolocation.getCurrentPosition(show_map);
  function show_map(position) {
    $("#pickup_latitude").val(position.coords.latitude);
    $("#pickup_longitude").val(position.coords.longitude);
  }
});
</script>
