<h1>New pickup</h1>

<%= render 'form' %>

<script>
var POSITION_TIMEOUT = 4000;

function onLocationFound(position) {
  console.debug("Coordinates found: " + position.coords.latitude + ", " + position.coords.longitude);

  $("#pickup_latitude").val(position.coords.latitude);
  $("#pickup_longitude").val(position.coords.longitude);
  searchLocationText(position.coords.latitude, position.coords.longitude);
}

function handle_error(err) {
  console.warn("Location not found: " + err);
  if ($("#pickup_latitude").val() && $("#pickup_longitude").val()) {
    return;
  }

  if (err.code == 3) {
    navigator.geolocation.getCurrentPosition(onLocationFound, handle_error, {timeout: POSITION_TIMEOUT, enableHighAccuracy: false});
  }
}

// Init
$(document).ready(function() {
  //console.debug("new init");
  //$('#pickup_location').attr('placeholder', 'Searching for location...');

  // Adds datepicker if there isn't native control
  if (!isDateControlSupported()) {
    $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  }

  // Search location 
  //navigator.geolocation.getCurrentPosition(onLocationFound, handle_error, {timeout: POSITION_TIMEOUT, enableHighAccuracy: true});
});
</script>
