<h1>New pickup</h1>

<%= render 'form' %>

<script>
function show_map(position) {
  search_location(position.coords.latitude, position.coords.longitude, 0);
}

function search_location(lat, lng, retries) {
  if(gmaps_loaded) {
    $("#pickup_latitude").val(lat);
    $("#pickup_longitude").val(lng);
    var latlng = new google.maps.LatLng(lat, lng);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          $("#pickup_location").val(results[1].formatted_address);
        }
      }
      $('#search_location_msg').hide();
      $('#location_part').show();
    });
  } else {
    if(retries < 2) {
      console.log("retry");
      setTimeout(function() {search_location(lat, lng, retries + 1);}, 1000);
    } else {
      // fail
      handle_error("Max retries");
    }
  }
}

function 
handle_error(err) {
  console.error("Location not found: " + err);
  $('#search_location_msg').hide();
  $('#location_part').show();
}

function date_supported() {
  var tester = document.createElement('input');
  tester.type = 'date';
  tester.value = ':(';
  return tester.type === 'date' && tester.value === '';
}

function gmaps_loaded() {
  return typeof google === 'object' && typeof google.maps === 'object';
}

// Init
$(document).ready(function() {
  // Adds datepicker if there isn't native control
  if(!date_supported()) {
    $('#pickup_picked_at_date').datepicker({format: 'dd/mm/yyyy', weekStart: 1});
  }

  // Location 
  $('#search_location_msg').show();
  $('#location_part').hide();
  navigator.geolocation.getCurrentPosition(show_map, handle_error, {timeout: 7500, enableHighAccuracy: true});
});
</script>
