/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require-datepicker
 */

$max-width: 640px;
$header-height: 58px;

$desktop_threshold: 960px;
$tablet_threshold: 480px;

.container-fluid {
  max-width: $max-width;  
}

#main {
  margin-top: $header-height;
  padding-top: 1rem;
}

h1 {
  font-size: 3rem !important;
}
h2 {
  font-size: 2.5rem !important;
}

.navbar-brand {
  height: $header-height;
  font-size: 2rem;
  font-weight: bold;
}

.title-version {
  vertical-align: super;
  font-size: 50%;
  text-transform: uppercase;
}

#main-menu {
  font-size: 2rem;
  i {
    text-align: center;
    width: 3rem;
  }
}

.vertical-align {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

html.login {  
  @media all and (max-width: $desktop_threshold) {
    background: image-url("coins-medium.jpg") no-repeat center center fixed; 
  }
  @media all and (min-width: $desktop_threshold+1) {
    background: image-url("coins.jpg") no-repeat center center fixed; 
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-bg {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
}
