// Place all the styles related to the pickups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tablet_threshold: 480px;

form .btn-primary {
  width: auto;
  @media all and (max-width: $tablet_threshold) {
    width: 100%;
  }
}
